<html>
<head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}" />
</head>
<body>
<h1>Let's create an event, {{firstname}}!</h1>
{% if UrlInUse == false %}
{{eventUrl}} is not in use, set up the rest of your event!
<form method = "POST">
	Event name:<br>
	<input type="text" name="eventName"><br>
  <!-- textarea can't be self-closing, so needs separate closing tag: -->
  Enter a description of your event:
  <textarea rows="5" cols="40" name="eventDesc"></textarea><br>
	<input type="submit"  value="Register">
</form>
{% else %}
{% if firstTime == true %}
First, pick a unique event Url:<br>
{% elif UrlInUse == true %}
Sorry, that Url is already in use! Try another one:<br>
{% endif %}
<form method = "POST">
  <input type="text" name="eventUrl"><br>
  <input type="submit" value="Check Url">
</form>
{% endif %}
</body>
</html>
