<html>
<head>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}" />
</head>
<body>
<h1>Welcome to isThere.today!</h1>
{% if badUser == true %}
Username does not exist, please try again.<br><br>
{% endif %}

{% if badPass == true %}
Password does not match, please try again.<br><br>
{% endif %}

Please login below:
<!-- <form action="/loginCheck" method = "POST"> -->
<form action="/login" method = "POST">
	Username:<br>
	<input type="text" name="username"><br>
	Password:<br>
	<input type="password" name="password"><br>
	<input type="submit" value = "login">
	</form>
<a href="/">Cancel</a>
</body>
</html>
