<html>
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}" />
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

</head>
<body>
<p>Dear {{ firstname }},</p>
Your username is: {{ username }}<br>
<p>Please click below to change your password:</p>
<p><a href={{ url_for("newPassword", username=username, resetPass=resetPass, _external=True )}}>Click here to change your password!</a></p>
<p>Love always,<br>
  <a href={{ url_for("splashScreen", _external=True)}}>Should I Go?</a> support team
</p>
</body>
</html>
