<!-- <html>
<head>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}" />
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

</head>
<body>
<h1>Let's create an event, {{firstname}}!</h1>
{% if UrlInUse == false %}
{{eventUrl}} is not in use, set up the rest of your event!
<form method = "POST">
Event name:<br>
<input type="text" name="eventName"><br>
<!- - textarea can't be self-closing, so needs separate closing tag: - ->
Enter a description of your event:<br>
<textarea rows="5" cols="40" name="eventDesc"></textarea><br>
<input type="submit"  value="Create">
</form>
{% else %}
{% if firstTime == true %}
First, pick a unique event Url:<br>
{% elif UrlInUse == true %}
Sorry, that Url is already in use! Try another one:<br>
{% elif badUrl == true %}
Sorry, please only use letters, numbers, dashes, and underscores in your url!<br>
{% endif %}
<form method = "POST">
<input type="text" name="eventUrl"><br>
<input type="submit" value="Check Url">
</form>
{% endif %}
</body>
</html> -->




<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Heebo:700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/styles/style.css" />
    <!-- date range picker stuff-->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

    <style>
    </style>

                <script type='text/javascript'>
                    function checkFields() {
                     
                    var flag = 1;
                     
                    if(document.getElementsByName('eventName')[0].value.replace(/\s/g,"") == "")
                    {
                    alert('Please fill out an Event Name!');
                    return false;
                    };
                     
                    if(document.getElementsByName('eventDesc')[0].value.replace(/\s/g,"") == "") {
                    alert('Please fill out an event description!');
                    return false;
                    };
                     
                    if(document.getElementsByName('datefilter')[0].value.replace(/\s/g,"") == "") {
                    alert('Please fill out dates!');
                    return false;
                    };
                     
                    if(flag == 0) {
                    return false;
                    } else {
                    return true;
                    };
                     
                    };
            </script>





</head>

<body>
    <title>Create Event - Should I Go?</title>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- <a class="navbar-brand" href="#">Home</a> -->
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <!-- <li class="nav-item">
                <!- - <a class="nav-link" href="userEvents.html">My Events<span class="sr-only">(current)</span></a> - ->
                <!- - TODO: create appRoute call for a /userEvents page - ->
                <a class="nav-link" href="/userEvents">My Events<span class="sr-only">(current)</span></a>
            </li> -->
            <li class="nav-item">
                <!-- <a class="nav-link" href="settings.html">Settings</a> -->
                <!-- TODO: are there more settings we want to include than just what's in editUser?
                ...probably stuff like email preferences, etc-->
                <a class="nav-link" href="/editUser">Settings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Log Out</a>
            </li>
        </ul>
        <ul class = "navbar-nav my-2 my-lg-0">
            <li class="nav=item">
                <a class="nav-link" href="/createEvent">+ New Event</a>
            </li>
        </ul>
    </div>
</nav>


<!-- <h1 class="text-center">CREATE EVENT</h1> -->
<div class="container-fluid" id="splashpagewrapper">
    <!-- <h1 class="containter-fluid">Create an Event!</h1> -->
    <div class="container" id="titlewrapper">
        <br>
        <h1 class="text-center" id="maintitle">Create an Event</h1>

        <div class="container" id="eventform">
            <div class="form-group">

                {% if UrlInUse == false %}
                {{eventUrl}} is not in use, set up the rest of your event!
                <form method = "POST" onsubmit='if(checkFields()) {} else { return false; };'>
                    Event name:<br>
                    <input type="text" name="eventName" size=22><br>
                    Enter a description of your event:<br>
                <form method = "POST">
                    <!-- Event name:<br> -->
                    <!-- TODO: make this not ugly and mismatched... -->
                    Pick an event name: <br>
                    <input type="text" name="eventName" placeholder="Event name"><br>
                    <!-- Enter a description of your event:<br> -->
                    <!-- <textarea rows="5" cols="40" name="eventDesc"></textarea><br> -->
                    <!-- <input type="text" name="eventDesc" size==22><br> -->
                    Enter your event's description:<br>
                    <!-- TODO: can add "required" (without quotes) to end of textarea declaration to force input, but it only works for textarea,
                                    not input text as well (so it doesn't work with event name).  Instead need some sort of ajaxy thing, probably-->
                    <textarea class="form-control" name="eventDesc" rows="3" placeholder="Event description"></textarea>
                    What time do you want your event to be active?<br>
                    <input type="text" name="datefilter" value="" size=22/><br>
                    <input type="submit" class="btn btn-primary" value="Create">
                    <a href="/" class="btn btn-secondary">Cancel</a>
                </form>
                {% else %}
                {% if firstTime == true %}
                First, pick a unique event Url:<br>
                {% elif UrlInUse == true %}
                Sorry, that Url is already in use! Try another one:<br>
                {% elif badUrl == true %}
                Sorry, please only use letters, numbers, dashes, and underscores in your url!<br>
                {% endif %}
                <form method = "POST">
                    <input type="text" name="eventUrl"><br>
                    <div style="height:3px;"></div>
                    <input type="submit" class="btn btn-primary" value="Check URL">
                    <a href="/" class="btn btn-secondary">Cancel</a>
                </form>
                {% endif %}

                <!-- <a href="/" class="btn btn-secondary">Cancel</a> -->
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

<!-- script for date and time picking-->
<script type="text/javascript">
$(function() {

    $('input[name="datefilter"]').daterangepicker({
        autoUpdateInput: false,
        locale: {
            cancelLabel: 'Clear'
        }
    });

    $('input[name="datefilter"]').on('apply.daterangepicker', function(ev, picker) {
        $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
    });

    $('input[name="datefilter"]').on('cancel.daterangepicker', function(ev, picker) {
        $(this).val('');
    });

});
</script>

<!-- Use for time ranges
<script type="text/javascript">
$(function() {
$('input[name="datefilter"]').daterangepicker({
timePicker: true,
timePickerIncrement: 30,
locale: {
format: 'MM/DD/YYYY h:mm A'
}
});
});
</script>
-->

<!-- Include Required Prerequisites for date range picking-->
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<!-- Include Date Range Picker -->
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>


</body>





</html>
