<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='font-awesome-4.7.0/css/font-awesome.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}" />
    <!-- date range picker stuff-->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
    <script type='text/javascript' src="{{url_for('static', filename='CheckFields.js')}}"></script>
  

    
    <style>
    </style>
</head>

<body class="bg-dark">
    <title>Create Event - Should I Go?</title>
    <div class="container main-container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <!-- <a class="navbar-brand" href="#">Home</a> -->
            <a class="navbar-brand" href="/"><span class="fa fa-home" style="font-size:1.5em;"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <!-- TODO: are there more settings we want to include than just what's in editUser?
            ...probably stuff like email preferences, etc-->
                        <a class="nav-link" href="/editUser"><span class="fa fa-user" style="font-size:1.5em;"></span></a>
                    </li>
                    <li class="nav-item">
                        <!-- <a class="nav-link" href="/logout">Log Out</a> -->
                        <a class="nav-link" href="/logout"><span class="fa fa-power-off" style="font-size:1.5em;"></span></a>
                    </li>
                </ul>
                <ul class="navbar-nav my-2 my-lg-0">
                    <li class="nav-item">
                        <!-- <a class="nav-link" href="/createEvent">+ New Event</a> -->
                        <a class="nav-link" href="/createEvent"><span class="fa fa-plus" style="font-size:1.5em;"></span></a>
                    </li>
                </ul>
            </div>
        </nav>


        <!-- <h1 class="text-center">CREATE EVENT</h1> -->
        <div class="container-fluid" id="splashpagewrapper">
            <!-- <h1 class="containter-fluid">Create an Event!</h1> -->
            <div class="container" id="titlewrapper">
                <br>
                <h1 class="text-center" id="maintitle">Create an Event</h1>

                <div class="container" id="eventform">
                    <div class="form-group">

                        {% if UrlInUse == false %}
                        {{eventUrl}} is not in use, set up the rest of your event!
                        <form method="POST" onsubmit='if(checkFields()) {} else { return false; }'' >
                            <!-- Event name:<br> -->
                            <!-- TODO: make this not ugly and mismatched... -->
                            Pick an event name: <br>
                            <input type="text" name="eventName" placeholder="Event name"><br>
                            <!-- Enter a description of your event:<br> -->
                            <!-- <textarea rows="5" cols="40" name="eventDesc"></textarea><br> -->
                            <!-- <input type="text" name="eventDesc" size==22><br> -->
                            Enter your event's description:<br>
                            <!-- TODO: can add "required" (without quotes) to end of textarea declaration to force input, but it only works for textarea,
                                    not input text as well (so it doesn't work with event name).  Instead need some sort of ajaxy thing, probably-->
                            <!-- <textarea class="form-control" name="eventDesc" rows="3" placeholder="Event description"></textarea> What time do you want your event to be active?<br>
                            <input type="text" name="datefilter" value="" size=22/><br>
                            <input type="submit" class="btn btn-primary" value="Create">
                        </form>
                        <form method="POST">
                            <input type="text" name="eventUrl"><br>
                            <div style="height:3px;"></div>
                            <input type="submit" class="btn btn-primary" value="Check URL">
                        </form>

                        <a href="/" class="btn btn-secondary">Cancel</a>
                    </div>
                </div> -->


                    <textarea id="eventDesc" class="form-control" name="eventDesc" rows="3" placeholder="Event description" maxlength="1000"></textarea>
                    <div id ="textcounter" style="font:15px Arial; text-align:right;">1000 Character Limit</div>

                    
                    If you want your event to be hidden behind a password, enter it below:<br>
                    <input type="text" name="password" placeholder="Password (optional)"><br><br>

                    What time do you want your event to be active?<br>
                    <input type="text" name="datefilter" value="" size=22/><br>
                    <input type="submit" class="btn btn-primary" value="Create">
                    <a href="/" class="btn btn-secondary">Cancel</a>
                </form>
                {% else %}
                {% if firstTime == true %}
                First, pick a unique event Url:<br>
                {% elif UrlInUse == true %}
                Sorry, that Url is already in use! Try another one:<br>
                {% elif badUrl == true %}
                Sorry, please only use letters, numbers, dashes, and underscores in your url!<br>
                {% endif %}
                <form method = "POST">
                    <input type="text" name="eventUrl"><br>
                    <div style="height:3px;"></div>
                    <input type="submit" class="btn btn-primary" value="Check URL">
                    <a href="/" class="btn btn-secondary">Cancel</a>
                </form>
                {% endif %}

                <!-- <a href="/" class="btn btn-secondary">Cancel</a> -->
            </div>
        </div>
    </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <!-- script for date and time picking-->
    <script type="text/javascript">
        $(function() {

            $('input[name="datefilter"]').daterangepicker({
                autoUpdateInput: false,
                locale: {
                    cancelLabel: 'Clear'
                }
            });

            $('input[name="datefilter"]').on('apply.daterangepicker', function(ev, picker) {
                $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
            });

            $('input[name="datefilter"]').on('cancel.daterangepicker', function(ev, picker) {
                $(this).val('');
            });

        });
    </script>

    <!-- Use for time ranges
<script type="text/javascript">
$(function() {
$('input[name="datefilter"]').daterangepicker({
timePicker: true,
timePickerIncrement: 30,
locale: {
format: 'MM/DD/YYYY h:mm A'
}
});
});
</script>
-->

    <!-- Include Required Prerequisites for date range picking-->
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <!-- Include Date Range Picker -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script scr=""></script>
    <script>
    $(document).ready(function() {
        $('#eventDesc').on('input propertychange', function() {
            CharLimit(this, 1000);
        });
    });

    function CharLimit(input, maxChar) {
         var len = $(input).val().length;
         $('#textcounter').text(maxChar - len + ' characters remaining');
        
        if (len > maxChar) {
             $(input).val($(input).val().substring(0, maxChar));
             $('#textcounter').text(0 + ' characters remaining');
         }
    }
    </script>

</body>
    




</html>
