<!-- <html>
<head>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}" />
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

</head>
<body>
<h1>Let's create an event, {{firstname}}!</h1>
{% if UrlInUse == false %}
{{eventUrl}} is not in use, set up the rest of your event!
<form method = "POST">
Event name:<br>
<input type="text" name="eventName"><br>
<!- - textarea can't be self-closing, so needs separate closing tag: - ->
Enter a description of your event:<br>
<textarea rows="5" cols="40" name="eventDesc"></textarea><br>
<input type="submit"  value="Create">
</form>
{% else %}
{% if firstTime == true %}
First, pick a unique event Url:<br>
{% elif UrlInUse == true %}
Sorry, that Url is already in use! Try another one:<br>
{% elif badUrl == true %}
Sorry, please only use letters, numbers, dashes, and underscores in your url!<br>
{% endif %}
<form method = "POST">
<input type="text" name="eventUrl"><br>
<input type="submit" value="Check Url">
</form>
{% endif %}
</body>
</html> -->


<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='font-awesome-4.7.0/css/font-awesome.min.css') }}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>

<body class="bg-dark">
    <title>Edit {{ eventName }} - Should I Go?</title>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="mainnav">
        <div class="container">
        <!-- <a class="navbar-brand" href="#">Home</a> -->
        <a class="navbar-brand" href="/">
            <span class="fa fa-home" style="font-size:1.5em;"></span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <!-- TODO: are there more settings we want to include than just what's in editUser?
                    ...probably stuff like email preferences, etc-->
                    <a class="nav-link" href="/editUser" data-btn-target="settings-btn-floor"><span class="fa fa-user" style="font-size:1.5em;"></span></a>
                    <div class="nav-btn-floor bg-dark" id="settings-btn-floor"></div>
                </li>
                <li class="nav-item">
                    <!-- <a class="nav-link" href="/logout">Log Out</a> -->
                    <a class="nav-link" href="/logout"  data-btn-target="logout-btn-floor"><span class="fa fa-power-off" style="font-size:1.5em;"></span></a>
                    <div class="nav-btn-floor bg-dark" id="logout-btn-floor"></div>
                </li>
            </ul>
            <ul class="navbar-nav my-2 my-lg-0">
                <li class="nav-item">
                    <!-- <a class="nav-link" href="/createEvent">+ New Event</a> -->
                    <a class="nav-link" href="/createEvent" data-btn-target="addevent-btn-floor"><span class="fa fa-plus" style="font-size:1.5em;"></span></a>
                    <div class="nav-btn-floor bg-dark" id="addevent-btn-floor"></div>
                </li>
            </ul>
        </div>
    </div>
    </nav>
    <div class="container main-container">
    <div class="container-fluid" id="splashpagewrapper">
        <!-- <h1 class="containter-fluid">Create an Event!</h1> -->
        <div class="container" id="titlewrapper">
            <br>
            <h1 class="text-center" id="maintitle">Edit Event</h1>

            <div class="container" id="eventform">
                <form method = "POST">
                    Event name:<br>
                    <input id="eventName" type="text" name="eventName" placeholder="Event name" value="{{ eventName }}" maxlength="50" pattern="[a-zA-Z\-_\ !@#$%^*_-]{1,50}" required aria-describedby="nameHelp">
                    <div id ="nameCounter" style="font:15px Arial; text-align:right;">{{ 50 - eventName|length }} characters remaining</div>
                    <small id="eventHelp" class="form-text text-muted">
                        Event names must less than 50 characters, and may contain letters, numbers, and the characters !@#$%^*_-
                    </small>
                    <br>
                    Event description:<br>
                    <textarea id="eventDesc" class="form-control" name="eventDesc" rows="3" placeholder="Event description" maxlength="1000">{{ eventDesc }}</textarea>
                    <!-- <div id ="textcounter" style="font:15px Arial; text-align:right;">1000 Character Limit</div> -->
                    <div id ="descCounter" style="font:15px Arial; text-align:right;">{{ 1000 - eventDesc|length }} characters remaining</div>


                    If you want to add or update your event's password, enter it below:<br>
                    <input type="password" name="password" placeholder="Password (optional)" maxlength="100"><br><br>

                    To add another owner who can edit this event, type in their username here:<br>
                    <input type="text" name="add_owner" placeholder="Add owner (optional)"><br><br>
                    <input type="submit" class="btn btn-primary" value="Save" name="save">

                    <a href={{ url_for("showEvent", eventUrl=eventUrl, _external=True )}} class="btn btn-secondary">Cancel</a>
                </form>
                <a href={{ url_for("showEvent", eventUrl=eventUrl, wantsToDelete="True", _external=True )}} class="btn btn-primary" style="background-color: red;border-color: red;" onclick="return confirm('Are you sure you want to delete this event?');">DELETE THIS EVENT</a>

            </div>
        </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>




    <!-- Include Required Prerequisites for date range picking-->
    <script src="{{ url_for('static',filename='js/jquery-3.2.1.js') }}"></script>
    <script src="{{ url_for('static',filename='js/nav.js') }}"type="text/javascript"></script>

    <!-- <script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script> -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <!-- Include Date Range Picker -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
    <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> -->
    <script>
    $(document).ready(function() {
        $('#eventDesc').on('input propertychange', function() {
            CharLimit(this, 1000, 1);
        });
        $('#eventName').on('input propertychange', function() {
            CharLimit(this, 50, 0);
        });
    });

    function CharLimit(input, maxChar, field) {
         var len = $(input).val().length;
         if (field == 0){
             if (len > maxChar) {
                  $(input).val($(input).val().substring(0, maxChar));
                  $('#nameCounter').text(0 + ' characters remaining');
              }
             $('#nameCounter').text(maxChar - len + ' characters remaining');
        }
        if (field == 1){
            if (len > maxChar) {
                 $(input).val($(input).val().substring(0, maxChar));
                 $('#descCounter').text(0 + ' characters remaining');
             }
             $('#descCounter').text(maxChar - len + ' characters remaining');
        }
    }
    </script

</body>

</html>
