<html>

<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='font-awesome-4.7.0/css/font-awesome.min.css') }}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>

<body class="bg-dark">
	<title>Settings - Should I Go?</title>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="mainnav">
        <div class="container">
        <!-- <a class="navbar-brand" href="#">Home</a> -->
        <a class="navbar-brand" href="/">
            <span class="fa fa-home" style="font-size:1.5em;"></span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <!-- TODO: are there more settings we want to include than just what's in editUser?
                    ...probably stuff like email preferences, etc-->
                    <a class="nav-link" href="/editUser" data-btn-target="settings-btn-floor"><span class="fa fa-user" style="font-size:1.5em;"></span></a>
                    <div class="nav-btn-floor bg-dark" id="settings-btn-floor"></div>
                </li>
                <li class="nav-item">
                    <!-- <a class="nav-link" href="/logout">Log Out</a> -->
                    <a class="nav-link" href="/logout"  data-btn-target="logout-btn-floor"><span class="fa fa-power-off" style="font-size:1.5em;"></span></a>
                    <div class="nav-btn-floor bg-dark" id="logout-btn-floor"></div>
                </li>
            </ul>
            <ul class="navbar-nav my-2 my-lg-0">
                <li class="nav-item">
                    <!-- <a class="nav-link" href="/createEvent">+ New Event</a> -->
                    <a class="nav-link" href="/createEvent" data-btn-target="addevent-btn-floor"><span class="fa fa-plus" style="font-size:1.5em;"></span></a>
                    <div class="nav-btn-floor bg-dark" id="addevent-btn-floor"></div>
                </li>
            </ul>
        </div>
    </div>
    </nav>
	<div class="container main-container">

	<div class="container-fluid" id="splashpagewrapper">

		<div class="container" id="titlewrapper">
			<br>
			<h1 class="text-center" id="maintitle">Profile and Account Settings</h1>

			<div class="container" id="loginform">
				<div class="form-group">

					<form method="POST">
                        First name<br>
                        <input type="text" class="form-control" name="firstname" maxlength="100" pattern="[a-zA-Z\-_]{1,50}" required aria-describedby="firstnameHelp" value="{{ firstname }}">
                        <small id="firstnameHelp" class="form-text text-muted">
                            Less than 50 characters, made up of upper and lower case letters
                        </small>
                        Last Name<br>
                        <input type="text" class="form-control" name="lastname" maxlength="100" pattern="[a-zA-Z\-_]{1,50}" required aria-describedby="lastnameHelp" value="{{ lastname }}">
                        <small id="lastnameHelp" class="form-text text-muted">
                            Less than 50 characters, made up of upper and lower case letters
                        </small>
                        Email<br>
                        <input type="text" class="form-control" name="email" maxlength="100" pattern="^[_a-z0-9-]+(\.[_a-z0-9-]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$" required aria-describedby="emailHelp" value="{{ email }}">
                        <small id="emailHelp" class="form-text text-muted">
                            Enter a valid email address
                        </small>
						<br>
						<input type="submit" class="btn btn-primary" value="Submit" maxlength="100">
						<!-- <a class="btn btn-primary" href="#">Save</a> -->
						<a href="/" class="btn btn-secondary">Cancel</a><br><br>
					</form>

				</div>
                <a href={{ url_for("editUser", wantsToDelete="True", _external=True )}} class="btn btn-primary" style="background-color: red;border-color: red;" onclick="return confirm('Are you sure you want to delete your account?')">DELETE MY ACCOUNT</a>
			</div>
			<!-- </form> -->

		</div>

	</div>
	</div>

	<!-- script imports -->
	<script src="{{ url_for('static',filename='js/jquery-3.2.1.js') }}"></script>
	<script src="{{ url_for('static',filename='js/nav.js') }}"type="text/javascript"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>


</body>

</html>
