
<!doctype html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Cabin|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/styles/style.css" />
    <link rel="stylesheet" type="text/css" href="../static/styles/splashscreen.css" />
</head>

<body>
    <title>Should I Go?</title>
    <div class="container" id="splashpagewrapper">

        <!-- TITLE -->
        <div class="container text-center" id="titlewrapper">
            <h1 class="title" id="splashtitle">shouldigo.today</h1>
        </div>

        <div class="collapse" style="text-align:center;" id="invalidinput"></div>

        <!-- LOGIN FORM -->
        <!-- <div class="container" style="width:22%;" id="loginform"> -->
        <div class="container" id="loginform">


            <form action="/" method="POST">
            <!-- <form action="/" method="post" name="login"> -->

                <!-- <div class="text-center align-center" id="responsive-login"> -->
                <input class="form-control rounded-top" type="text" id="usernameinput" name="username" placeholder="username">
                <div style="height:1px;background-color:#d3d3d3;"></div>
                <input class="form-control rounded-0" type="password" id="passwordinput" name="password" placeholder="password">
                <input type="submit" class="button rounded-bottom" style="width:100%;" type="submit" id="loginbtn" value="login">
                <!-- </div> -->

                <div style="color:#ffffff;">
                    <label><input type="checkbox" name="rememberme" value="yes" style="color:#ffffff;">Remember me?</label>
                </div>
                <!-- <input type="checkbox" name="rememberme" value="yes" style="color:#ffffff;">Remember me?<br> -->
                <a href="/register" style="color:#ffffff;text-decoration:underline;">Register</a><br>
                <a href="/forgotpassword" style="color:#ffffff;text-decoration:underline;">Forgot Password</a>
                <!-- <a class="button rounded-bottom" style="width:100%;" href="userHome.html" id="loginbtn">Login</a> -->
            </form>
            <!-- TODO: fix this registration ability to be how we want it (scrolling vs diff page vs ??)-->
            <br><br>

            <!-- <a class="button rounded-bottom" style="width:100%;" href="/register" id="registerbtn">Register</a>
            <a class="button rounded-bottom" style="width:100%;" href="/forgotpassword" id="forgotpassword">Forgot Password</a> -->

        </div>


        <!-- script imports -->
        <script src="{{ url_for('static',filename='js/jquery-3.2.1.js') }}" charset="utf-8"></script>
        <script type="text/javascript">
            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
            $(function() {
            $('#loginbtn').on('click', function() {
              $.getJSON($SCRIPT_ROOT + '/_log_in', {
                username: $('input[name="username"]').val(),
                password: $('input[name="password"]').val(),
                rememberme: $('input[name="rememberme"]').val()
            }, function(data) {
                type = data[0];
                rememberme = data[1];
                username = data[2];

                var invdiv = document.getElementById("invalidinput");
                while (invdiv.hasChildNodes()) {
                    invdiv.removeChild(invdiv.lastChild);
                }

                if(type == 0){ //if username is wrong
                    var wrongusr = document.createElement("p");
                    wrongusr.innerHTML = "Username does not exist, please try again";
                    wrongusr.style.color="#ffffff";
                    invdiv.appendChild(wrongusr);
                    $("#invalidinput").collapse("show");
                }
                else if(type== -1){ //if password is wrong
                    var wrongpass = document.createElement("p");
                    wrongpass.innerHTML = "Password does not match, please try again";
                    wrongpass.style.color="#ffffff";
                    invdiv.appendChild(wrongpass);
                    $("#invalidinput").collapse("show");
                }
                else if(type == 1){ //if the username and password is correct create custom form
                    var f = document.createElement("form");
                    var usr = document.createElement("input");
                    var rmb = document.createElement("input")

                    f.setAttribute('method',"post");
                    f.setAttribute('action',"/");

                    usr.value=username;
                    usr.name="username";
                    usr.type="hidden"
                    f.appendChild(usr);

                    rmb.value=rememberme;
                    rmb.name="rememberme";
                    rmb.type="hidden"
                    f.appendChild(rmb);

                    document.body.appendChild(f);
                    f.submit();
                }
              });
              return true;
            });
          });
        </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

</body>

</html>
