<html>
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}" />
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
<h2> Passwords don't match!</h2>
<h1>Welcome to isThere.today!</h1>
	Please register below:
<form action="/HandleRegister" method = "POST">
	First name:<br>
	<input type="text" name="firstname" maxlength="100"><br>
	Last name:<br>
	<input type="text" name="lastname" maxlength="100"><br>
	Username:<br>
	<input type="text" name="username" maxlength="100"><br>
	Password:<br>
	<input type="password" name="password" maxlength="100"><br>
	Confirm password:<br>
	<input type="password" name="passwordconfirm" maxlength="100"><br>
	<input type="submit"  value="Register">
</form>
<!-- <button id="register">Register</button> -->
<a href="/">Cancel</a>

</body>
</html>
