<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" href="../static/styles/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Heebo:700" rel="stylesheet"> -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='font-awesome-4.7.0/css/font-awesome.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}" />
    <!-- date range picker stuff-->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
    <script type='text/javascript' src="{{url_for('static', filename='CheckFields.js')}}"></script>
    <script type='text/javascript' src="{{url_for('static', filename='ValidateReg.js')}}"></script>

    <!-- <link rel="stylesheet" type="text/css" href="isthere.css">
    <style>
    #pagewrapper{
    height: 100vh;
}
</style>

-->
</head>

<body class="bg-dark">
    <!--{% if diffPasswords == true %}
    Passwords don't match!<br><br>
    {% endif %}
    {% if badEmail == true %}
    Invalid email address!<br><br>
    {% endif %}
    {% if duplicateUser == true %}
    Username already in use, select another!<br>
    ORRRRRR AN ERROR HAPPENED<br>
    {% endif %}-->
    <title>Register - Should I Go?</title>
    <div class="container main-container">
        <div class="container-fluid" id="pagewrapper">
            <!-- <div class="container-fluid middlechunk" id="pagewrapper"> -->

            <div class="container" id="titlewrapper">
                <br>
                <h1 class="text-center" id="maintitle">Register</h1>

                <!-- TODO: why was this line here? I took it out because it was redirecting to / instead of register and breaking stuff -->
                <!-- <form action="/" method="post" name="login"> -->
                <div class="container" id="loginform">
                    {% if diffPasswords == true %}
                    Passwords don't match!<br><br>
                    {% endif %}
                    {% if badEmail == true %}
                    Invalid email address!<br><br>
                    {% endif %}
                    {% if duplicateUser == true %}
                    Username already in use, select another!<br><br>
                    {% endif %}
                    {% if duplicateEmail == true %}
                    Email already in use, select another!<br><br>
                    {% endif %}
                    {% if errorHappened == true %}
                    AN ERROR HAPPENED<br><br>
                    {% endif %}
                    Please register below:
                    <div class="form-group">

                        <!-- <form method="POST"> -->

						<form action="/register" method="POST" onsubmit='if(ValidateReg()) {} else { return false; }'>
							First name<br>
							<input type="text" class="form-control" name="firstname" maxlength="100" pattern="[a-zA-Z\-_]{1,50}" required aria-describedby="firstnameHelp">
                            <small id="firstnameHelp" class="form-text text-muted">
                                Less than 50 characters, made up of upper and lower case letters
                            </small>
                            Last Name<br>
							<input type="text" class="form-control" name="lastname" maxlength="100" pattern="[a-zA-Z\-_]{1,50}" required aria-describedby="lastnameHelp">
                            <small id="lastnameHelp" class="form-text text-muted">
                                Less than 50 characters, made up of upper and lower case letters
                            </small>
                            Username<br>
							<input type="text" class="form-control" name="username" maxlength="100" pattern="[a-zA-Z0-9!@#$%\^\*\-_]{1,50}" required aria-describedby="usernameHelp">
                            <small id="usernameHelp" class="form-text text-muted">
                                Usernames must be less than 50 characters, and may contain letters, numbers, and the characters !@#$%^*_-
                            </small>
                            Email<br>
							<input type="text" class="form-control" name="email" maxlength="100" pattern="^[_a-z0-9-\+]+(\.[_a-z0-9-\+]+)*@[a-z0-9-\+]+(\.[a-z0-9-\+]+)*(\.[a-z\+]{2,4})$" required aria-describedby="emailHelp">
                            <small id="emailHelp" class="form-text text-muted">
                                Enter a valid email address
                            </small>
                            Password<br>
							<input type="password" class="form-control" name="password" maxlength="100" pattern="[a-zA-Z0-9!@#$%\^\*\-_]{6,20}" required aria-describedby="passwordHelp">
                            <small id="passwordHelp" class="form-text text-muted">
                                Passwords must be 6-20 characters, and may contain letters, numbers, and the characters !@#$%^*_-
                            </small>
                            Confirm password<br>
							<input type="password" class="form-control" name="passwordconfirm" maxlength="100"><br>
                            <input type="submit" class="btn btn-primary" value="Register">

                            <a href="/" class="btn btn-secondary">Cancel</a>

                        </form>

                    </div>
                </div>
                <!-- </form> -->

            </div>

        </div>
    </div>
    <!-- script imports -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>


</body>

</html>
