<html>
<head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}" />
</head>
<body>
<h1>Welcome to isThere.today!</h1>
  {% if diffPasswords == true %}
  Passwords don't match!<br><br>
  {% endif %}
  {% if badEmail == true %}
  Invalid email address!<br><br>
  {% endif %}
  {% if duplicateUser == true %}
  Username already in use, select another!<br>
  <!-- TODO: take this out: -->
  ORRRRRR AN ERROR HAPPENED<br>
  {% endif %}
	Please register below:
<form method = "POST">
	First name:<br>
	<input type="text" name="firstname"><br>
	Last name:<br>
	<input type="text" name="lastname"><br>
	Username:<br>
	<input type="text" name="username"><br>
	Email:<br>
	<input type="text" name="email"><br>
	Password:<br>
	<input type="password" name="password"><br>
	Confirm password:<br>
	<input type="password" name="passwordconfirm"><br>
	<input type="submit"  value="Register">
</form>
<!-- <button id="register">Register</button> -->
<a href="/">Cancel</a>

</body>
</html>
