<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Heebo:700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/styles/style.css" />
    <style>
    </style>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="mainnav">
        <div class="container">
            <!-- <a class="navbar-brand" href="#">Home</a> -->
            <a class="navbar-brand" href="/">
                <span class="fa fa-home" style="font-size:1.5em;"></span>
                <span class="nav navbar-text"> Home</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <!-- TODO: are there more settings we want to include than just what's in editUser?
                        ...probably stuff like email preferences, etc-->
                        <a class="nav-link" href="/editUser" data-btn-target="settings-btn-floor">
                            <span class="fa fa-user" style="font-size:1.5em;"></span>
                            <span class="nav navbar-text"> Preferences</span>
                        </a>
                        <div class="nav-btn-floor bg-dark" id="settings-btn-floor"></div>
                    </li>
                    <li class="nav-item">
                        <!-- <a class="nav-link" href="/logout">Log Out</a> -->
                        <a class="nav-link" href="/logout"  data-btn-target="logout-btn-floor">
                            <span class="fa fa-power-off" style="font-size:1.5em;"></span>
                            <span class="nav navbar-text"> Logout</span>
                        </a>
                        <div class="nav-btn-floor bg-dark" id="logout-btn-floor"></div>
                    </li>
                </ul>
                <ul class="navbar-nav my-2 my-lg-0">
                    <li class="nav-item">
                        <!-- <a class="nav-link" href="/createEvent">+ New Event</a> -->
                        <a class="nav-link" href="/createEvent" data-btn-target="addevent-btn-floor">
                            <span class="fa fa-plus" style="font-size:1.5em;"></span>
                            <span class="nav navbar-text"> New Event</span>
                        </a>
                        <div class="nav-btn-floor bg-dark" id="addevent-btn-floor"></div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <h1>Lol this page sucks!</h1>
    Like it's supposed to show you all the users events or something buuuuut....<br><br><br>
    It sucks!!<br><br>
    <a href="/">TAKE ME HOMEEEE</a>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

</body>

</html>
