
<!-- TODO: what is this page really supposed to show?  At any rate, bootstrap/making it not suck would be dope -->
<html>
<head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}" />
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

</head>
<body>
<h1>Lol this page sucks!</h1>
Like it's supposed to show you all the users events or something buuuuut....<br><br><br>
It sucks!!<br><br>
<a href="/">TAKE ME HOMEEEE</a>
</body>
</html>
