<html>
<head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}" />
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
<h1>Welcome, {{firstname}}!</h1>
<!-- had to set the boolean to a string variable for some reason... not sure why -->
{% if resentValidationEmail == 'True' %}
Just resent your validation email! Check your inbox.<br><br>
{% endif %}
Your username is {{username}}<br>
And your full name is {{firstname}} {{lastname}}<br>
I'd show you your hashed password, but then I'd have to kill you.<br>
<br>
{% if not verified %}
You have not yet verified your email!  Click below to resend a validation email:<br>
<a href={{ url_for("resendValidationEmail")}}>Validate Email</a><br>
After validating, then you can start creating and following events!
{% else %}
{% if followedeventszipped %}
These are the events you follow:
{% for eventName,eventUrl in followedeventszipped %}
<a href="{{ eventUrl }}">{{eventName}}</a>{% if not loop.last %}, {% endif %}
{% endfor %}<br>
{% else %}
You do not currently follow any events, explore to find ones you like!<br>
{% endif %}
{% if ownedeventszipped %}
<!-- Your owned events are: {{ownedeventszipped}}<br> -->
Your owned events are:
{% for eventName,eventUrl in ownedeventszipped %}
<!-- "if not loop.last" just checks if it's the last element, if not it puts in a comma -->
<a href="{{ eventUrl }}">{{eventName}}</a>{% if not loop.last %}, {% endif %}
{% endfor %}<br>
{% else %}
You do not currently own any events! Click below to make some!<br>
{% endif %}
<br>
<a href="/createEvent">Create a new event!</a><br>
{% endif %}
<a href="/editUser">Edit my user information<br>
<a href="/logout">Log out</a>
</body>
</html>
